/* ./public/style.css */
* {
    box-sizing: border-box;
    transition: all .3s ease;
  }
  
  html, body {
    background: rgb(39, 39, 39);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  main {
    width: calc(100% - 20px);
    max-width: 500px;
    margin: 0 auto;
    font-family: Helvetica, Arial, Sans, sans-serif;
  }
  
  h1, .user-count {
    margin: 0;
    padding: 10px 0;
    font-size: 32px;
    font-weight: bold;
  }
  
  .user-count {
    float: right;
  }
  
  .chat {
    content: '';
    width: 100%;
    height: calc(100vh - 165px);
    background: rgb(32, 32, 32);
    padding: 5px 10px;
  }
  
  .chat p {
    margin: 0 0 5px 0;
  }
  
  input, button {
    width: 100%;
    font: inherit;
    background: rgb(80, 80, 80);
    border: none;
    margin-top: 10px;
    padding: 5px 10px;
    font-weight: bold;
    color: #ff3399;
  }
  
  button:hover {
    cursor: pointer;
    background: rgb(97, 97, 97);
  }
  
  @media all and (min-width: 500px) {
    .chat {
      height: calc(100vh - 140px);
    }
    input {
      width: calc(100% - 160px);
    }
    button {
      float: right;
      width: 150px;
    }
  }

p {
  color: aliceblue;
}
h1 {
  color: aliceblue;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #ffa600, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}
@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

